DATABASE_URL=
DATABASE_APP_USER=
DATABASE_APP_PASSWORD=
DATABASE_MIGRATOR_USER=
DATABASE_MIGRATOR_PASSWORD=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
REDIS_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
NEXT_PUBLIC_API_URL=
ALLOW_OPEN_REGISTRATION=false
MAX_UPLOAD_SIZE_BYTES=5368709120
